/* brand fonts */
$mainFont: 'Open Sans', sans-serif;
$secondFont: 'Myriad Pro', sans-serif;
$base-font-size: 16px;

/* brand colors */
$darkGreen: #2eab9c;
$lightGreen: #35C0B1;
$grey: #53595B;
$darkGrey: #191c1f;
