
//vertical allignment - may not use

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//main text callouts

@mixin callOut($color: white, $size: 40px, $font: $mainFont, $weight: 400){
  text-align: center;
  color: $color;
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
}

//flex containers to center horozontal and verticle

@mixin container {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

//flew widths for content areas

@mixin flex($cWidth: 100%) {
  flex-basis: $cWidth;
  flex-flow: row wrap;
}