@import "brandElements";
@import "mixins";

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

/* background colors */

.lgtGreen {
  background-color: $lightGreen;
}

.grey {
  background-color: $grey;
}

/* alignment  */

.centerText {
  text-align: center;
}

.textOnly {
  width: 100%;
}

.textAnd {
  width: 70%;
  padding: 50px;
}

.caseWidth {
  width: 80%;
  color: white
}

/* base containers */

html {
  @include backGround();
  background-image:url('../img/designElementImages/office.png');
}

.container {
  @include container()
}

.sectionA{
  @include container();
  flex-basis: 100%;
  height: 760px;
}

.sectionB {
  @include container();
  flex-basis: 100%;
  min-height: 500px;
}

.sectionC {
  @include container();
  @include flex(50%)
}

.sectionD {
  @include container();
  @include flex(25%);
  position: relative;
}

.sectionE {
  @include container();
  @include flex();
}

/* text elements */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: $darkGreen;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 8px;
}

ul {
  float: right;
  padding-top: 10px;
  padding-right: 40px;
}

.callOut {
  @include callOut($color: black, $size: em(24px), $weight: 400);
}

h1 {
  @include callOut($weight: 600, $width: 50%);
  margin: 0 auto;
  padding-bottom: 60px;
}

h2 {
  @include callOut($color: black, $size: em(20px), $weight: 700);
}

h3 {
  @include callOut($size: em(30px), $weight: 700, $width: 70%);
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h4 {
  @include callOut($size: em(16px), $weight: 300, $width: 70%);
  margin: 0 auto;
  position: relative;
  top: 47%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

p {
  font-family: $mainFont;
  font-size: em(16px);
}

.smaller {
  font-size: em(12px);
  padding-bottom: 20px;
}

/* header */

.logo {
  display: inline-block;
  float:left;
  padding-top: 25px;
  padding-left: 40px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: $darkGrey;
  width: 100%;
  height: 72px;
  opacity: .90;
}

/* image elements */

.twoUpImg {
  width: 100%;
}

.caseLogo {
  padding-bottom: 15px;
  width:60%;
}

.empImg {
  width:100%;
}

.visibility {
  opacity: 0.3;
}

.smallImg {
  position: relative;
  top: 115px;
}

/* accordion elements */

.firstDrop {
  width: 75%;
  background-color: $lightGreen;
  margin: 0 auto;
  text-align: left;
  border-top: solid 1px white;
  padding: 10px 30px 10px 30px;
  color: white;
  cursor: pointer;
}

.firstDropContent{
  background-color: $grey;
  border-top: none;
  font-weight: 200;
}

.triangle {
  display: inline-block;
  float: right;
  padding: 10px 35px 0 0;
}


/* buttons */

.button {
  @include button();
  margin: 0 auto;
}

.bottomButton {
  @include button();
  margin: 50px 0 50px 0;
}

/* footer */

footer {
  background-image: url('../img/designElementImages/footerpattern.png');
  height: 80px;
  width:100%;
}

/* hover effect */

.textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $darkGreen;
  z-index: -1;
  text-align: center;
}

@import "tablet";
@import "mobile";







