/* brand colors */
/* position variables */
/* brand fonts */
.lgtgreen {
  background-color: #35C0B1; }

.grey {
  background-color: #53595B; }

/* alignment  */
.centerText {
  text-align: center; }

.textOnly {
  width: 100%; }

.textAnd {
  width: 70%;
  padding: 50px; }

.caseWidth {
  width: 80%;
  color: white; }

/* base containers */
html {
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url("../img/designElementImages/office.png");
  background-repeat: no-repeat;
  background-position: top; }

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.sectionA {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-basis: 100%;
  height: 760px; }

.sectionB {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-basis: 100%;
  min-height: 500px; }

.sectionC {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-basis: 50%;
  flex-flow: row wrap; }

.sectionD {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-basis: 25%;
  flex-flow: row wrap;
  position: relative; }

.sectionE {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-basis: 100%;
  flex-flow: row wrap; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #2eab9c; }

li {
  list-style: none;
  display: inline-block;
  padding-right: 5px; }

ul {
  float: right;
  padding-top: 10px;
  padding-right: 25px; }

/* header */
.logo {
  display: inline-block;
  float: left;
  padding-top: 25px;
  padding-left: 25px; }

header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  background-color: #191c1f;
  width: 100%;
  height: 72px;
  opacity: .80; }

/* text elements */
.callOut {
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h1 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 60px; }

h2 {
  text-align: center;
  color: black;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

h3 {
  text-align: center;
  color: white;
  font-size: 1.875em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

h4 {
  text-align: center;
  color: white;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 47%;
  transform: translateY(-50%);
  text-align: center;
  text-transform: uppercase; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

.smaller {
  font-size: 0.75em;
  padding-bottom: 20px; }

/* image elements */
.twoUpImg {
  width: 100%; }

.caseLogo {
  padding-bottom: 15px;
  width: 60%; }

.empImg {
  width: 100%; }

.visibility {
  opacity: 0.3; }

.smallImg {
  position: relative;
  top: 115px; }

/* accordian elements */
.firstDrop {
  width: 75%;
  background-color: #35C0B1;
  margin: 0 auto;
  text-align: left;
  border-top: solid 1px white;
  padding: 10px 0px 10px 30px;
  color: white;
  cursor: pointer; }

.firstDropContent {
  background-color: #53595B;
  border-top: none;
  font-weight: 200; }

.triangle {
  display: inline-block;
  float: right;
  padding: 10px 35px 0px 0px; }

/* buttons */
.button {
  background-color: #35C0B1;
  width: 20%;
  margin: 0 auto;
  padding: 0.0625em;
  text-align: center;
  color: white;
  cursor: pointer; }

.bottomButton {
  background-color: #35C0B1;
  width: 20%;
  margin: 50px 0 50px 0;
  padding: 0.0625em;
  text-align: center;
  color: white; }

/* footer */
footer {
  background-image: url("../img/designElementImages/footerpattern.png");
  height: 80px;
  width: 100%; }

/* hover effect */
.textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2eab9c;
  z-index: -1;
  text-align: center; }

@media only screen and (max-width: 868px) {
  html {
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-image: url("../img/designElementImages/officeAlt.png");
    background-repeat: no-repeat;
    background-position: top; }
  h1 {
    text-align: center;
    color: white;
    font-size: 2.1875em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
    padding-top: 80px; }
  .smallImg {
    position: relative;
    top: 70px;
    margin-bottom: 30px; }
  .sectionA {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 100%;
    height: 500px; }
  .sectionB {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 100%;
    min-height: 200px; }
  .sectionD {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 33%;
    flex-flow: row wrap;
    cursor: pointer;
    position: relative; }
  .caseLogo {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 60%; }
  .twoUpImg {
    width: 100%;
    height: 282px; }
  .button {
    background-color: #35C0B1;
    width: 50%;
    padding: 0.0625em;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 80px; }
  .bottomButton {
    background-color: #35C0B1;
    width: 34%;
    margin: 50px 0 50px 0;
    padding: 0.0625em;
    text-align: center;
    color: white; } }

@media only screen and (max-width: 600px) {
  html {
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-image: url("../img/designElementImages/officeAlt.png");
    background-repeat: no-repeat;
    background-position: top; }
  .sectionA {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 100%;
    height: 450px; }
  .sectionB {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 100%;
    min-height: 300px; }
  .sectionD {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 50%;
    flex-flow: row wrap;
    cursor: pointer;
    position: relative; }
  .sectionC {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-basis: 100%;
    flex-flow: row wrap;
    border-bottom: 2px solid white; }
  .smaller {
    font-size: 10px;
    padding-bottom: 10px; }
  .caseLogo {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 60%; }
  a {
    color: white;
    text-decoration: none;
    font-size: 10px; }
  h1 {
    text-align: center;
    color: white;
    font-size: 1.5625em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
    padding-top: 80px; }
  .callOut {
    text-align: center;
    color: black;
    font-size: 1.25em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }
  .smallImg {
    position: relative;
    top: 90px; }
  .button {
    background-color: #35C0B1;
    width: 50%;
    padding: 0.0625em;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 80px; } }
